{% load static %}
<img src="{% static 'images/fastworldteclogo.png' %}" alt="KayJeundFi Logo" class="logo-image">

<nav class="navbar">
    <ul class="nav-list">
        <li><a href="{% url 'homepage:homepage' %}">Home</a></li>
        <li><a href="{% url 'homepage:shop' %}">Products</a></li>
        <li><a href="#">About</a></li>
        <li><a href="{% url 'homepage:detail_blog_review' pk=1 %}">Reviews & Blogs</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>

            <!-- Company logo image -->
            <img src="{% static 'images/kayjeundfi-logo.png' %}" alt="KayJeundFi Logo" class="logo-image">
